body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #a0d6b4;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
main {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #000;
}
th, td {
    padding: 10px;
    text-align: center;
}
footer {
    background-color: #a0d6b4;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.voltar-button {
    background-color: #b4cfcf;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
.voltar-button:hover {
    background-color: #96b8b8;
}